
<footer class="footer">
    <div class="row h-100 px-5">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <a class="align-items-center footer-logo" href="/" aria-label="Bootstrap">
                <img src="assets/logotransparent.png"  role="img" class="d-block " height="100%" width="150" alt="">
            </a>
            <div class="d-flex flex-row gap-4">
                <div class="d-flex flex-row align-items-center gap-4">
                    <a href="https://github.com/EllMoorby" class="text-decoration-none text-black">
                        <img src="assets/githubtransparent.png" width="50" height="100%" alt="Logo">
                        <h8>Elliott Moorby</h8>
                    </a>

                    <a href="https://github.com/Domestic-Mouse" class="text-decoration-none text-black">
                        <img src="assets/githubtransparent.png" width="50" height="100%" alt="Logo">
                        <h8>Noah Cooling</h8>
                    </a>

                </div>

           </div>
        </div>
    </div>
</footer>